*
{
font-family: Arial, Helvetica, sans-serif;
}

.col-sm {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:20%;
}

/* .container-fluid{
   background-color: aquamarine;
   padding:10px;
   
} */

.container-md{
margin-top: 40px;
background-color: #f2f2f2;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
width:30%;
margin-bottom: 20px;
}



.btn {
    background-color: darkmagenta;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}





#heading {
    margin-top: 40px;
text-align: center;
    color: #14361f;
    font-size: xxx-large;
}

#helpcontainer
{
    display: flex;
    align-items: center;
    flex-direction:column;
}

#help {
    text-align: center;
    color: rgb(0, 121, 105);
    background-color: #ffffff;
    font-size: larger;
    margin-top: 20px;
    border-bottom: rgb(0, 121, 105) 3px solid;
    border-radius: 0px;
}

#helptext {
    margin-top: 20px;
    color: #144d26;
    font-size: large;
}